* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 html{
 overflow-y: scroll;
    scroll-behavior: smooth;
}
body
{

}


.page-grid .homepage,
.page-grid {
    display: grid;
    grid-template-columns: 100vw;
    grid-auto-rows: 100vh;

}

img {
    border-radius: 10px;
    opacity: 0.3;
    -webkit-filter: blur(0.5px)
}

.home-page {
 -webkit-overflow-scrolling: touch;
   width: 100%;
    background-image: url( minimalist-architecture-uhd-4k-wallpaper.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
}

.content{
    top:25%;
  left: 18%;
transform: translate3d(0, 0, 0);
position: absolute;

 }


.title {
    display:grid;
    grid-template-columns:repeat(3,1fr);
     grid-template-rows: repeat(3,1fr);
      height: 0px;
     width: 0px;
    grid-row-gap: 2rem;
     margin: 0px;
    color:white;
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
     justify-items:center;
    transition: 0.24s 0.2s;
}
.less{
    font-size:24rem;
    font-weight:900;
    letter-spacing: 0.8rem;
    line-height:15rem;
}
.is{
    font-family: 'Roboto', sans-serif;
    position: relative;
    right:8rem;
    font-weight: 200;
    font-size: 5rem;

}
.more{
     font-family: 'Roboto', sans-serif;
    font-size:7rem;
    font-weight:500;
    letter-spacing: 0.8rem;
    line-height:5rem;
    position: relative;
    left:5rem;
}
.title :hover{

}
.title .is .menu{
    	list-style: none;
		padding: 0;
		margin: 0;
		position: relative;
        top:0rem;
        left:12rem;
		border-radius: 50%;
		transform: scale(0);
		transition: transform 1.6s 0.9s;
		z-index: 1;
}
.title:hover .menu{
    transition: transform 1.5s 0.08s, z-index  1s  5s;
		transform: scale(5.6);
		z-index: 1;
}

.title .menu li{
		position: absolute;
		top: -6.5rem;
		left: -4.8rem;
		transform-origin: 5.3rem 4.77rem;
		transition: all 0.6s 0.5s;
	}

.title:hover .menu li{
		transition: all 0.8s;
	}

    .title .menu li a{
		width: 45px;
		height: 45px;
		line-height: 45px;
		border-radius: 50%;

		position: absolute;
		font-size: 25%;
		color: white;
		transition: 0.6s;
	}
	.title:hover .menu li:nth-child(1){
		transition-delay: 1s;
		transform: rotate(250deg);
	}
	.title:hover .menu li:nth-child(1) a{
		transition-delay: 0s;
		transform: rotate(0deg);
	}
	.title:hover .menu li:nth-child(2){
		transition-delay: 1.5s;
		transform: rotate(290deg);
	}
	.title:hover .menu li:nth-child(2) a{
		transition-delay: 0s;
		transform: rotate(0deg);
	}
	.title:hover .menu li:nth-child(3){
		transition-delay: 2s;
		transform: rotate(330deg);
	}
	.title:hover .menu li:nth-child(3) a{
		transition-delay: 0s;
		transform: rotate(0deg);
	}
	.title:hover .menu li:nth-child(4){
		transition-delay: 2.5s;
		transform: rotate(10deg);
	}
	.title:hover .menu li:nth-child(4) a{
		transition-delay: 0s;
		transform: rotate(0deg);
	}

    a{ color: rgba(90, 7, 7, 0.6);outline: none;text-decoration: none;-webkit-transition: 0s;transition: 0.2s;}
a:hover,a:focus{text-decoration: none;}

.about{

    display:flex;
    background-image: url(glasses.jpg);
    background-size:100vw;
    /* background-size:200px 200px; */
    /* height:500px; */
    /* width:100%; */

}

.img {
    background-image: url(LogoB.png);
    background-repeat:no-repeat;
    background-size:cover;
    position:fixed;
    width:9rem;
    height:7rem;
right:2rem;
top: 1rem;
opacity: 0.8;
}

.about-title{

    justify-content: flex-start;
transform-origin:0rem 14rem;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
    -webkit-transform: rotate(90deg);
letter-spacing: 40px;
    color: rgba(253, 253, 253, 0.911);
font-size: 10em;
font-weight: bolder;
font-family: Helvetica;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}


/* .bold{
    display:inline-block;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace
} */

.introduction{

position: relative;
top:3rem;
margin-left:-20rem;

    display:flex;
    background-repeat:no-repeat;
justify-content:space-around;
width:240rem;

}
.extrabold{
    font: weight 900;
    font-size: 5rem;
    font-family: 'roboto',sans-serif;
     line-height: 6rem;
     letter-spacing: 0.5rem;
}
hr
{
    margin-top:1rem;
    margin-bottom: 1.5rem;
    height: 0.5rem;
    background-color: black;
    border: none;
    width:41rem;
}

.text1 {
    position: relative;
    left:8rem;

     font-family: 'lato', sans-serif;
     font-weight: 500;
     font-size: 2.5rem;
     width:90rem;
     line-height: 3.1rem;
     letter-spacing: 0.2rem;

}

.text1 .text{
    text-indent:10%;
}
.skill{
    position: relative;
    top:2rem;
    font-family: 'Roboto', sans-serif;
    width:50rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height:56rem;

}

.fa-gem
{
color:rgb(199, 2, 2)
}

.fa-html5
{
color:rgb(241, 100, 65);
}

.fa-css3-alt
{
color:rgb(59, 138, 212)
}

.extraboldskill
{
    margin-top:-3rem;
    font-family: 'Roboto', sans-serif;
    font-size:7rem;
    font-weight:500;
    letter-spacing: 1rem;
}


.work
{
    margin:0;
    padding:0;
    background-image:url(work.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content: flex-end;
}

.work-page
{
    margin:0;
    padding:0;


}

.work-title{
    margin-top:3rem;
    margin-left:13rem;
    opacity: 1;
    position: relative;

transform-origin:0rem 0rem ;

   font-family: 'Roboto', sans-serif;
   font-weight:1000;

    color: rgba(253, 253, 253, 0.911);
font-size: 12em;
letter-spacing: 1rem;
font-weight: bolder;
font-family: Helvetica;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

}

.overlay{
    margin-top:3rem;
    height:50rem;
    width:100vw;
    background-color:black;
    opacity: 0;
    transition: 1s ease;
    display:flex;
    justify-content:flex-start;
}

.work:hover .overlay
{
opacity:0.7
}

.section {
    height:100vh;
    width:auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    color:white;
    letter-spacing: 1.2rem;
    margin-left:5.5rem;
    margin-right:1rem


}

.section img
{
    height:34rem;
    display:block;
    opacity: 1;
    margin-top:5rem;
    margin-bottom:2rem;
    border-radius: 2rem

}

.contact{
    margin:0px;
    background-image:url(contact.jpg);
    background-size:cover;
    background-repeat: no-repeat


}





form
{
    position: relative;
    top:-40rem;
    left:80rem;
    width: 50rem;
    height:60rem;

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'lato', sans-serif;
    font-size:2rem;
    letter-spacing: 0.5rem;
    font-weight: 700

}
label {

    display:flex;
    justify-content: space-around;


}
button
{
    text-align:center;
    position: relative;
    width:12rem;
    height:4rem;
    left:45%;
    font-size:2rem;
    color:black;
    background-color: white;
    border-radius: 1rem;
    letter-spacing: 0.5rem;
    font-weight: 500;
}



input[type=text],input[type=email]
{
    width:25rem;
    height:5rem;
    border-radius: 1rem;

}

select{
    width:25rem;
    height:10rem;
    border-radius: 1rem;
    font-size: 2rem;

}


textarea{

    width:25rem;
    height:10rem;
    border-radius: 1rem;
}

.social{
    position: relative;
    left:26rem;
    top:28rem;
    flex-direction: column;
    display:flex;
    width:60rem;
    height:50rem;
    justify-content:space-between;
}
.media{
    display:inline-block;
    font-size:3rem;
}
.media img{
    width: 7rem;
    height: 7rem;
    margin-right:3rem;
    opacity: 0.9;
}